.card-text{
    text-align:justify;
}

#letras{
    color:white; 
    background: crimson;
    font-size: 1cm;
}

.footer{
    background-color: rgb(230, 230, 100);
}

.cuerpo{
     background-image: url(img/bg2.jpg);   
}

.categorias{
    background-color: red;
}

.header{
    width: 30px;
    height: 30px;
}