.card-text{
    text-align:justify;
}

#letras{
    color:white; 
    background: crimson;
    font-size: 1cm;
}

.footer{
    background-color:  rgb(219, 198, 6);
}

.cuerpo{
     background-image: url(img/bg2.jpg);   
}


.header{
    width: 30px;
    height: 30px;
}

.margen{
    margin-right: 2cm;
    font-size: 0.5cm;
    font-style: italic;
    width: 5cm;
}

.navbar{
    background-color: rgb(230, 230, 100);
}

.slogan{
    text-align: center;
    background-color:  rgb(219, 198, 6);
    width: 29.4cm;
    height: 4cm;
}


.categorias{
    text-align: center;
    background-color:  rgb(219, 198, 6);
    width: 29.4cm;
    height: 2cm;
}

.cards{
    text-align: center;
    background-color:  rgb(219, 198, 6);
    width: 29.4cm;

}

.ficha{
    background-color: red;
    display: block;
    justify-content: center;
    border-radius: 70px;
    overflow:auto;
}

#fotos{
    height: 300px;
    border: 5px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
}

#titulo{
    margin-top: 1cm;
}

.descripcion{
    margin-left: 10px;
}
